{% extends 'base.html'%}
{% load custom_tags %}
{% load static %}
{% block content %}
<main b-jf0n7db0j2="">
        <div b-jf0n7db0j2="" class="wrap-content">
            <div class="home-banner-slider slick-initialized slick-slider">
                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1583px; transform: translate3d(0px, 0px, 0px);"><div class="home-banner-section slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 1583px;">
                    <a href="https://www.resharugs.com/rugs" tabindex="0">
                        <img src="https://www.resharugs.com/assets/home/v1/home-desktop.png" alt="banner1" class="w-100 d-lg-block d-md-none d-sm-none d-none">
                        <img src="https://www.resharugs.com/assets/home/v1/home-mobile.png" alt="banner1" class="w-100 d-lg-none d-md-block d-sm-none d-none">
                        <img src="https://www.resharugs.com/assets/home/v1/home-tablate.png" alt="banner1" class="w-100 d-lg-none d-md-none d-sm-block d-block">            
                    </a>
                </div>
            </div>
        </div>
        <div class="home-shop-trending py-3">
            <div class="container-lg">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="home-shop-trending-detail">
                            <a href="https://www.resharugs.com/rugs" class="position-relative d-block">
                                <img src="https://www.resharugs.com/assets/images/room/1.jpg" alt="shop-by-room-img1" class="w-100">
                                <div class="home-trending-content">
                                    <p class="color-black fs-15 text-uppercase fw-4">Shop Best Sellers </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="home-shop-trending-detail">
                            <a href="https://www.resharugs.com/rugs" class="position-relative d-block">
                                <img src="https://www.resharugs.com/assets/images/room/2.jpg" alt="shop-by-room-img1" class="w-100">
                                <div class="home-trending-content">
                                    <p class="color-black fs-15 text-uppercase fw-4">Shop Trending</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="home-shop-trending-detail">
                            <a href="https://www.resharugs.com/new-arrival" class="position-relative d-block">
                                <img src="https://www.resharugs.com/assets/images/room/3.jpg" alt="shop-by-room-img1" class="w-100">
                                <div class="home-trending-content">
                                    <p class="color-black fs-15 text-uppercase fw-4">Shop New Arrivals</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-category-section py-lg-4 py-md-4 py-sm-4 py-2">
            <div class="container-lg">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="heading mt-3 mb-4">
                            <h2 class="color-black fw-3 text-capitalize fs-32 text-center">Categories</h2>
                        </div>
                        <div class="home-category-detail">
                            <ul class="d-flex">
                                {% for product_model in product_models %} 
                                    {% if product_model.base_model.base_slug == 'categories' %}
                                        <li>
                                            <a href="{% url 'web_store:product_list_view_with_model' model_slug=product_model.model_slug %}" class="d-block text-center color-black fs-16 fw-4 text-uppercase">
                                                <img src="/mediafiles/models/images/{{product_model.base_model.base_slug}}/{{product_model.model_image|filename}}" alt="category-img1">
                                                {{product_model.name}}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-custom-section">
            <div class="container-fluid p-0">
                <div class="home-custom-services position-relative">
                    <img src="https://www.resharugs.com/assets/images/Custom.jpg" alt="custom-services-banner">
                    <div class="home-custom-content position-absolute">
                        <h3 class="color-black fw-4 text-uppercase">Custom Rug Services</h3>
                        <p class="color-black fs-15 fw-3 mb-0">
                            Build &amp; customize your dream Rug in the timeframe
                            with an affordable price range
                        </p>
                        <a href="https://www.resharugs.com/rugs">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-shop-section py-lg-4 py-md-4 py-sm-4 py-2">
            <div class="container-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading mt-3 mb-4">
                            <h2 class="color-black fw-3 text-capitalize fs-32 text-center">Shop By Room</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product_model in product_models %} 
                        {% if product_model.base_model.base_slug == 'shop-by-room' %}
                            <div class="col-lg-3 col-md-3 col-12 p-3">
                                <div class="shop-by-room-details">
                                    <div class="shop-by-img">
                                        <a href="{% url 'web_store:product_list_view_with_model' model_slug=product_model.model_slug %}">
                                            <img src="/mediafiles/models/images/{{product_model.base_model.base_slug}}/{{product_model.model_image|filename}}" alt="shop-by-room-img1" class="w-100 mb-3">
                                        </a>
                                    </div>
                                    <div class="shop-by-content text-center">
                                        <p class="color-black fs-16 fw-4 text-uppercase mb-0">{{product_model.name}}</p>
                                        <a href="#" class="color-black fs-13 fw-3 text-uppercase d-block">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
        </div>
        <div class="home-featured-product-section mb-5">
            <div class="container-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading mt-3 mb-4">
                            <h2 class="color-black fw-3 text-capitalize fs-32 text-center">Featured Products</h2>
                        </div>
                    </div>
                </div>
                <div class="featured-products-slider px-4 slick-initialized slick-slider">
                    {% for product_model in product_models %} 
                        {% if product_model.base_model.base_slug == 'featured-products' %}
                            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1250px; transform: translate3d(0px, 0px, 0px);"><div class="featured-product-details px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 250px;">
                                <a href="{% url 'web_store:product_list_view_with_model' model_slug=product_model.model_slug %}" class="d-block text-center color-black fs-15 fw-4 text-uppercase" tabindex="0">
                                    <img src="/mediafiles/models/images/{{product_model.base_model.base_slug}}/{{product_model.model_image|filename}}" alt="featured-product1" class="mb-3">
                                    {{product_model.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}


