<div class="col-lg-3 mb-5 d-lg-block d-md-none d-sm-none d-none">
                <h3 class="black-color fs-18 fw-4 px-3">Filter By</h3>
                <div class="filter-desktop-options  px-3">
                    <div class="filter-options mb-3 desktop-filter  filter-options_extand" id="DesktopMasterFlterId-1">
                        <h6 class="text-capitalize">Size</h6>
                        <input type="hidden" id="1-HeadingValue" value="size">
                        <ul id="1-list_extand">
                            <li id="div_des_size-10x14">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-10x14" id="des_size-10x14" name="10X14" value="10X14">
                                <label for="des_size-10x14" class="text-capitalize">10X14</label> <span id="cou_des_size-10x14">(43)</span>
                            </li>
                            <li id="div_des_size-12x15">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-12x15" id="des_size-12x15" name="12X15" value="12X15">
                                <label for="des_size-12x15" class="text-capitalize">12X15</label> <span id="cou_des_size-12x15">(43)</span>
                            </li>
                            <li id="div_des_size-2x3">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-2x3" id="des_size-2x3" name="2X3" value="2X3">
                                <label for="des_size-2x3" class="text-capitalize">2X3</label> <span id="cou_des_size-2x3">(44)</span>
                            </li>
                            <li id="div_des_size-3x5">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-3x5" id="des_size-3x5" name="3X5" value="3X5">
                                <label for="des_size-3x5" class="text-capitalize">3X5</label> <span id="cou_des_size-3x5">(44)</span>
                            </li>
                            <li id="div_des_size-4x6">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-4x6" id="des_size-4x6" name="4X6" value="4X6">
                                <label for="des_size-4x6" class="text-capitalize">4X6</label> <span id="cou_des_size-4x6">(44)</span>
                            </li>
                            <li id="div_des_size-5x8">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-5x8" id="des_size-5x8" name="5X8" value="5X8">
                                <label for="des_size-5x8" class="text-capitalize">5X8</label> <span id="cou_des_size-5x8">(43)</span>
                            </li>
                            <li id="div_des_size-6x9">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-6x9" id="des_size-6x9" name="6X9" value="6X9">
                                <label for="des_size-6x9" class="text-capitalize">6X9</label> <span id="cou_des_size-6x9">(43)</span>
                            </li>
                            <li id="div_des_size-8x10">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-8x10" id="des_size-8x10" name="8X10" value="8X10">
                                <label for="des_size-8x10" class="text-capitalize">8X10</label> <span id="cou_des_size-8x10">(43)</span>
                            </li>
                            <li id="div_des_size-9x12">
                                <input class="size" type="checkbox" onclick="DesktopSetUrl('size')" id="des_size-9x12" id="des_size-9x12" name="9X12" value="9X12">
                                <label for="des_size-9x12" class="text-capitalize">9X12</label> <span id="cou_des_size-9x12">(43)</span>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" onclick="FilterReadMore('DesktopMasterFlterId-1','load-more-filter-1')" class="fs-12 fw-4 load-more-btn" id="load-more-filter-1">Read More</a>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-2">
                        <h6 class="text-capitalize">Shape</h6>
                        <input type="hidden" id="2-HeadingValue" value="shape">
                        <ul id="2-list_extand">
                                    <li id="div_des_shape-rectangle">
                                        <input class="shape" type="checkbox" onclick="DesktopSetUrl('shape')" id="des_shape-rectangle" id="des_shape-rectangle" name="Rectangle" value="Rectangle">
                                        <label for="des_shape-rectangle" class="text-capitalize">Rectangle</label> <span id="cou_des_shape-rectangle">(44)</span>
                                    </li>
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  filter-options_extand" id="DesktopMasterFlterId-3">
                        <h6 class="text-capitalize">Color</h6>
                        <input type="hidden" id="3-HeadingValue" value="color">
                        <ul id="3-list_extand">
                                    <li id="div_des_color-black">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-black" id="des_color-black" name="Black" value="Black">
                                        <label for="des_color-black" class="text-capitalize">Black</label> <span id="cou_des_color-black">(11)</span>
                                    </li>
                                    <li id="div_des_color-blue">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-blue" id="des_color-blue" name="Blue" value="Blue">
                                        <label for="des_color-blue" class="text-capitalize">Blue</label> <span id="cou_des_color-blue">(4)</span>
                                    </li>
                                    <li id="div_des_color-brown">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-brown" id="des_color-brown" name="Brown" value="Brown">
                                        <label for="des_color-brown" class="text-capitalize">Brown</label> <span id="cou_des_color-brown">(1)</span>
                                    </li>
                                    <li id="div_des_color-dark_gray">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-dark_gray" id="des_color-dark_gray" name="Dark_Gray" value="Dark Gray">
                                        <label for="des_color-dark_gray" class="text-capitalize">Dark Gray</label> <span id="cou_des_color-dark_gray">(7)</span>
                                    </li>
                                    <li id="div_des_color-gray">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-gray" id="des_color-gray" name="Gray" value="Gray">
                                        <label for="des_color-gray" class="text-capitalize">Gray</label> <span id="cou_des_color-gray">(5)</span>
                                    </li>
                                    <li id="div_des_color-light_blue">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-light_blue" id="des_color-light_blue" name="Light_Blue" value="Light Blue">
                                        <label for="des_color-light_blue" class="text-capitalize">Light Blue</label> <span id="cou_des_color-light_blue">(2)</span>
                                    </li>
                                    <li id="div_des_color-light_gray">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-light_gray" id="des_color-light_gray" name="Light_Gray" value="Light Gray">
                                        <label for="des_color-light_gray" class="text-capitalize">Light Gray</label> <span id="cou_des_color-light_gray">(12)</span>
                                    </li>
                                    <li id="div_des_color-white">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-white" id="des_color-white" name="White" value="White">
                                        <label for="des_color-white" class="text-capitalize">White</label> <span id="cou_des_color-white">(1)</span>
                                    </li>
                                    <li id="div_des_color-yellow">
                                        <input class="color" type="checkbox" onclick="DesktopSetUrl('color')" id="des_color-yellow" id="des_color-yellow" name="Yellow" value="Yellow">
                                        <label for="des_color-yellow" class="text-capitalize">Yellow</label> <span id="cou_des_color-yellow">(1)</span>
                                    </li>
                        </ul>
                            <a href="javascript:void(0)" onclick="FilterReadMore('DesktopMasterFlterId-3','load-more-filter-3')" class="fs-12 fw-4 load-more-btn" id="load-more-filter-3">Read More</a>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-4">
                        <h6 class="text-capitalize">Style</h6>
                        <input type="hidden" id="4-HeadingValue" value="style">
                        <ul id="4-list_extand">
                                    <li id="div_des_style-modern">
                                        <input class="style" type="checkbox" onclick="DesktopSetUrl('style')" id="des_style-modern" id="des_style-modern" name="modern" value="modern">
                                        <label for="des_style-modern" class="text-capitalize">modern</label> <span id="cou_des_style-modern">(44)</span>
                                    </li>
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-5">
                        <h6 class="text-capitalize">Pattern</h6>
                        <input type="hidden" id="5-HeadingValue" value="pattern">
                        <ul id="5-list_extand">
                                    <li id="div_des_pattern-decade">
                                        <input class="pattern" type="checkbox" onclick="DesktopSetUrl('pattern')" id="des_pattern-decade" id="des_pattern-decade" name="Decade" value="Decade">
                                        <label for="des_pattern-decade" class="text-capitalize">Decade</label> <span id="cou_des_pattern-decade">(7)</span>
                                    </li>
                                    <li id="div_des_pattern-floweral">
                                        <input class="pattern" type="checkbox" onclick="DesktopSetUrl('pattern')" id="des_pattern-floweral" id="des_pattern-floweral" name="Floweral" value="Floweral">
                                        <label for="des_pattern-floweral" class="text-capitalize">Floweral</label> <span id="cou_des_pattern-floweral">(2)</span>
                                    </li>
                                    <li id="div_des_pattern-geometrical">
                                        <input class="pattern" type="checkbox" onclick="DesktopSetUrl('pattern')" id="des_pattern-geometrical" id="des_pattern-geometrical" name="Geometrical" value="Geometrical">
                                        <label for="des_pattern-geometrical" class="text-capitalize">Geometrical</label> <span id="cou_des_pattern-geometrical">(34)</span>
                                    </li>
                                    <li id="div_des_pattern-transational">
                                        <input class="pattern" type="checkbox" onclick="DesktopSetUrl('pattern')" id="des_pattern-transational" id="des_pattern-transational" name="Transational" value="Transational">
                                        <label for="des_pattern-transational" class="text-capitalize">Transational</label> <span id="cou_des_pattern-transational">(1)</span>
                                    </li>
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-6">
                        <h6 class="text-capitalize">Material</h6>
                        <input type="hidden" id="6-HeadingValue" value="material">
                        <ul id="6-list_extand">
                                    <li id="div_des_material-silk">
                                        <input class="material" type="checkbox" onclick="DesktopSetUrl('material')" id="des_material-silk" id="des_material-silk" name="Silk" value="Silk">
                                        <label for="des_material-silk" class="text-capitalize">Silk</label> <span id="cou_des_material-silk">(4)</span>
                                    </li>
                                    <li id="div_des_material-wool">
                                        <input class="material" type="checkbox" onclick="DesktopSetUrl('material')" id="des_material-wool" id="des_material-wool" name="Wool" value="Wool">
                                        <label for="des_material-wool" class="text-capitalize">Wool</label> <span id="cou_des_material-wool">(35)</span>
                                    </li>
                                    <li id="div_des_material-wool_and_silk">
                                        <input class="material" type="checkbox" onclick="DesktopSetUrl('material')" id="des_material-wool_and_silk" id="des_material-wool_and_silk" name="Wool_and_Silk" value="Wool and Silk">
                                        <label for="des_material-wool_and_silk" class="text-capitalize">Wool and Silk</label> <span id="cou_des_material-wool_and_silk">(5)</span>
                                    </li>
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-7">
                        <h6 class="text-capitalize">Construction</h6>
                        <input type="hidden" id="7-HeadingValue" value="construction">
                        <ul id="7-list_extand">
                                    <li id="div_des_construction-tufted">
                                        <input class="construction" type="checkbox" onclick="DesktopSetUrl('construction')" id="des_construction-tufted" id="des_construction-tufted" name="Tufted" value="Tufted">
                                        <label for="des_construction-tufted" class="text-capitalize">Tufted</label> <span id="cou_des_construction-tufted">(44)</span>
                                    </li>
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter d-none " id="DesktopMasterFlterId-8">
                        <h6 class="text-capitalize">Discount</h6>
                        <input type="hidden" id="8-HeadingValue" value="discount">
                        <ul id="8-list_extand">
                        </ul>
                    </div>
                    <div class="filter-options mb-3 desktop-filter  " id="DesktopMasterFlterId-9">
                        <h6 class="text-capitalize">Collection</h6>
                        <input type="hidden" id="9-HeadingValue" value="collection">
                        <ul id="9-list_extand">
                                    <li id="div_des_collection-decade">
                                        <input class="collection" type="checkbox" onclick="DesktopSetUrl('collection')" id="des_collection-decade" id="des_collection-decade" name="Decade" value="Decade">
                                        <label for="des_collection-decade" class="text-capitalize">Decade</label> <span id="cou_des_collection-decade">(7)</span>
                                    </li>
                                    <li id="div_des_collection-enchanted_petals">
                                        <input class="collection" type="checkbox" onclick="DesktopSetUrl('collection')" id="des_collection-enchanted_petals" id="des_collection-enchanted_petals" name="Enchanted_Petals" value="Enchanted Petals">
                                        <label for="des_collection-enchanted_petals" class="text-capitalize">Enchanted Petals</label> <span id="cou_des_collection-enchanted_petals">(2)</span>
                                    </li>
                                    <li id="div_des_collection-geometric_harmony">
                                        <input class="collection" type="checkbox" onclick="DesktopSetUrl('collection')" id="des_collection-geometric_harmony" id="des_collection-geometric_harmony" name="Geometric_Harmony" value="Geometric Harmony">
                                        <label for="des_collection-geometric_harmony" class="text-capitalize">Geometric Harmony</label> <span id="cou_des_collection-geometric_harmony">(31)</span>
                                    </li>
                                    <li id="div_des_collection-geometrical">
                                        <input class="collection" type="checkbox" onclick="DesktopSetUrl('collection')" id="des_collection-geometrical" id="des_collection-geometrical" name="Geometrical" value="Geometrical">
                                        <label for="des_collection-geometrical" class="text-capitalize">Geometrical</label> <span id="cou_des_collection-geometrical">(3)</span>
                                    </li>
                                    <li id="div_des_collection-transcendent_fusion">
                                        <input class="collection" type="checkbox" onclick="DesktopSetUrl('collection')" id="des_collection-transcendent_fusion" id="des_collection-transcendent_fusion" name="Transcendent_Fusion" value="Transcendent Fusion">
                                        <label for="des_collection-transcendent_fusion" class="text-capitalize">Transcendent Fusion</label> <span id="cou_des_collection-transcendent_fusion">(1)</span>
                                    </li>
                        </ul>
                    </div>
                </div>
            </div>